.header {
    background-color: #038acd;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    padding: 40px 0;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 2px rgb(58, 59, 57)
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    float: right;
    min-height: 20px;
    /* Set a minimum height */
    display: inline-block;
    /* Ensure the element takes up space even when empty */
}

.header-tagline {
    font-size: 18px;
    margin-bottom: 20px;
}

.header-nav ul {
    list-style: none;
    margin-bottom: 20px;
}

.header-nav ul li {
    display: inline;
    margin-right: 20px;
}

.header-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e64a19;
}